body{
	background: white ;
	color: black;
	padding: 40px;
	margin: 50px;
}

#container{
	border: solid 2px black ;
	background: white;

	margin: 0 auto;
	height: 100vh;

}

#banner{
	height: 100px;
}



#title{
	font-family: Georgia;
	font-size: 40px;
	text-align: center;
	padding: 40px;

}

.line-separator{
	height:2px;
	background: black;
	width: 80%;
	margin: 0 auto;

}

nav{

}
nav ul{
	text-align: center;
}

nav ul li{
	display: inline-block;
	font-family: Georgia;
	width: 22%;
	text-align:center;
	padding: 5px;
	margin-top: 30px;
	color:black;


}

nav ul li:hover{
	background: white;
	color:black;
}